.button {
    cursor: pointer;
    font-weight: 700;

    height: 40px;
    padding: 0px 20px;
    width: fit-content;
    margin: 10px 0px;

    border-width: 0px;
    border-radius: 6px;
    background-color: #ffe600;
}
.button:hover {
    background-color: #ddc700;
}
.button:focus {
    outline: none;
}
.button:active {
    color: white;
    background-color: #838383;
}
